beautifulsoup4==4.5.1
bs4==0.0.1
certifi==2017.1.23
conda==4.3.16
Flask==0.11.1
Flask-Cors==2.1.2
Flask-WTF==0.14.2
googlemaps==2.4.5
greenlet==0.4.10
gunicorn==19.7.1
html5lib==0.999999999
Jinja2==2.8
lxml==3.6.4
pandas==0.18.1
requests==2.13.0
requests-file==1.4.1
scikit-learn==0.17.1
scipy==0.18.1
spyder==3.0.0
statsmodels==0.6.1
tables==3.2.3.1
tornado==4.4.1
unicodecsv==0.14.1
urllib3==1.20
virtualenv==15.1.0
webencodings==0.5
Werkzeug==0.11.11
WTForms==2.1
