{% extends "base.html" %}

{% block content %}

<head>
  <title>WP | Worker Predictor</title>
</head>

<link rel="stylesheet" type="text/css" href="../static/bias_buster_home.css">
    <div id="header">
        <p id="headertext">Worker Predictor | <a href="">Home</a></p>
	</div>
	<h1>Worker Predictor</h1>
		<p>Get an estimate of the number of workers needed for a place or places.</p><br/>
    <form action="results", method='post'>
        <p>Enter a place type: City, Neighbourhood, ZIP Code.</p>
        <input type="text" name="PType" placeholder="Place Type..."><br>
        <p>Enter a place or places; separate multiple with commas.</p>
        <input type="text" name="Place" placeholder="Place Name(s)..."><br>
        <p>Enter the two-letter abbreviation of a state.</p>
        <input type="text" name="State" placeholder="State..."><br>

        <input type="submit" value="Submit">
   </form>

{% endblock %}
